:root{
    --cor-de-fundo:#A52A2A;
    --branco:#FFFFFF;
    --preto:#000000;
    --botao-ativo:#BEBEBE;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.botao{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}
