<style>@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap')</style>

:root{
    --cor-de-fundo:#A52A2A;
    --branco:#FFFFFF;
    --preto:#000000;
    --botao-ativo:#BEBEBE;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Protest Riot", sans-serif;     
}  